<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>requirements</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/index.css" type="text/css">
</head>
<body>
    <div class="requirements">
        <div class="requirements-text">
            <p>Can My Computer Run this game ?</p>
        </div>
            <div class="requirements-table">
                <h4 class="display-3">SYSTEM <br>REQUIREMENTS</h4>
            
            <table>
                <tr>
                  <td ><span style="color: darkgoldenrod">OS</span> : <br><P>Windows 7 64-bit only <br>(No OSX support at thid time</P></td>
                  <td><span style="color: darkgoldenrod"> PROCESSOR</span>: <br>intel Core Duo @2.4GHZ or <br>AMD athlon X2 @2.8GHZ</td>
                 </tr>
                 <tr>
                  <td> <span style="color: darkgoldenrod">MEMORY</span> : <br>4GB RAM</td>
                  <td> <span style="color: darkgoldenrod">STORAGE</span> : <br>8GB available space</td>
                 </tr>
               <tr>
                  <td colspan="2"> <span style="color: darkgoldenrod" >GRAPHICS</span> : <br>NVIDIA GeForce GTX 660 2GB or <br>AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</td>
                 </tr>
              </table>

        </div>
    </div>
    
</body>
</html>